# Dependencies
/node_modules

# Build directory
/build

# Cache folder (often created by tools like gh-pages)
/.cache
node_modules/.cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local
.env